<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script src="/quiz.js"></script>
    <link href="/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>

    <link href="/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
    <link href="/css/blueprint/plugins/fancy-type/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="/css/quiz.css" rel="stylesheet" type="text/css"/>

    <title>IMDB Keyword Quiz</title>
</head>
<body>
<div class="container">
 <div>{{html body}}</div>
</div>
</body>
</html>
